:host {
    .grid-container {
      display: grid;
      grid-template-rows: auto 1fr auto;
      grid-template-columns: auto;
      height: 100vh;
    }
  }

.container-fluid {
    height: 100%;

    .row {
        height: 100%;
    }
}